.pagination {
  position: fixed;
  bottom: 45%;
  right: 1%;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.list_item {
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background-color: #fff;
  opacity: 0.2;
  margin: 0.3rem 0;
  transition: 0.5s;
}

.active {
  transform: scale(1.5);
  opacity: 1;
}
