.left_panel {
  background-color: #000;
  height: 100%;

  padding: 0 1rem;
  overflow: hidden;
}
.accent {
  position: absolute;
  width: 1000px;
  height: auto;
  opacity: 0.12;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.highlight {
  color: #ff8800;
  font-weight: 700;
}

.description {
  color: #fff;
  opacity: 0.8;
}

.profile_img {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.btn_left_panel {
  transform: rotate(-90deg);
  color: #ff8800;
  border: 1px solid #ff8800;
  background-color: transparent;
  padding: 0.8rem 1.8rem;
  border-radius: 12px;
}

.sm_icon_group {
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



.btn_group {
  z-index: 1;
}

.icon_container {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  max-width: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list {
  transform: rotate(-90deg);
  
}

.nav_list_item {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.nav_list_item:hover {
  opacity: 0.5;
  color: #fff;
  cursor: pointer;
}

.icon_container a {
  color: #fff;
}

.icon_container a:hover {
  color: #ff8800;
}

.logo {
  width: 100%;
  max-width: 70px;
  height: auto;
}