.banner {
  background-color: #ff8800;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  z-index: 1;
}

/* where the magic happens */
.banner:before,
.banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: right top;
  transform: skewY(-1.5deg);
}

.banner:after {
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(1.5deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */

.title {
  font-weight: 700;
  font-size: 3rem;
}

.banner_img {
  height: auto;
  width: 100%;
}

.banner_btn {
  background-color: transparent;
  border: 3px solid #000;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff8800;
}
